.container {
  display: flex;
  flex-direction: row;
  background-color: rgb(104, 168, 224);
  padding: 20px;
}

.image {
  width: 25%;
  margin-right: 20px;
}
nav {
  width: 75%;
  display: flex;
  align-items: flex-start;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
  color: black;
}

